<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServ</servlet-name>
  	<display-name>LoginServ</display-name>
  	<description></description>
  	<servlet-class>com.servlet.LoginServ</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateStuDet</servlet-name>
  	<display-name>UpdateStuDet</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateStuDet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteStu</servlet-name>
  	<display-name>DeleteStu</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteStu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExamReg</servlet-name>
  	<display-name>ExamReg</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ExamReg</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddQuest</servlet-name>
  	<display-name>AddQuest</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AddQuest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateExam</servlet-name>
  	<display-name>UpdateExam</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateExam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteExam</servlet-name>
  	<display-name>DeleteExam</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteExam</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteQuest</servlet-name>
  	<display-name>DeleteQuest</display-name>
  	<description></description>
  	<servlet-class>com.servlet.DeleteQuest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UpdateQuest</servlet-name>
  	<display-name>UpdateQuest</display-name>
  	<description></description>
  	<servlet-class>com.servlet.UpdateQuest</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ExamEvent</servlet-name>
  	<display-name>ExamEvent</display-name>
  	<description></description>
  	<servlet-class>com.servlet.ExamEvent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Attendence</servlet-name>
  	<display-name>Attendence</display-name>
  	<description></description>
  	<servlet-class>com.servlet.Attendence</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminLogout</servlet-name>
  	<display-name>AdminLogout</display-name>
  	<description></description>
  	<servlet-class>com.servlet.AdminLogout</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StuLogout</servlet-name>
  	<display-name>StuLogout</display-name>
  	<description></description>
  	<servlet-class>com.servlet.StuLogout</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServ</servlet-name>
  	<url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateStuDet</servlet-name>
  	<url-pattern>/UpdateStuDet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteStu</servlet-name>
  	<url-pattern>/DeleteStu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExamReg</servlet-name>
  	<url-pattern>/ExamReg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddQuest</servlet-name>
  	<url-pattern>/AddQuest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateExam</servlet-name>
  	<url-pattern>/UpdateExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteExam</servlet-name>
  	<url-pattern>/DeleteExam</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteQuest</servlet-name>
  	<url-pattern>/DeleteQuest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateQuest</servlet-name>
  	<url-pattern>/UpdateQuest</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ExamEvent</servlet-name>
  	<url-pattern>/ExamEvent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Attendence</servlet-name>
  	<url-pattern>/Attendence</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLogout</servlet-name>
  	<url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StuLogout</servlet-name>
  	<url-pattern>/StuLogout</url-pattern>
  </servlet-mapping>
</web-app>
